/* content */
.spanning {
    clear: both;
}
.hero {
    background: $t url('../upload/hero.jpg') 50% 0 no-repeat;
    background-size: cover;
    .row {
        min-height: 601px;
    }
}
.hero-content {
    padding: 68px 0 50px;
    h1 {
        font-size: 52px;
        line-height: 1.154;
        font-weight: 200;
        margin-bottom: 19px;
    }
    p {
        font-size: 18px;
        line-height: 1.6667;
        margin-bottom: 23px;
    }
}
.advantages {
    color: $w;
    background: $p;
    padding: 36px 0 31px;
}
.advantages-item {
    display: flex;
    align-items: center;
}
.advantages-item-img {
    flex: 0 0 72px;
    max-width: 72px;
    padding-right: 22px;
    min-height: 50px;
    align-self: flex-start;
    img {
        display: block;
    }
}
.advantages-item-title {
    flex-grow: 1;
    padding-bottom: 4px;
}
.row-hidden {
    display: none !important;
}
.services {
    margin-bottom: 80px;
    padding: 62px 0 50px;
    background: $lgr;
    h2 {
        font-size: 40px;
        line-height: 1.25;
        font-weight: 200;
        margin-bottom: 29px;
    }
}
.services-content {}
.services-list {
    padding-bottom: 40px;
}
.service {
    cursor: default;
    height: 0;
    padding-top: 106%;
    margin-bottom: 10px;
    position: relative;
    background-color: $w;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    &.service-wide {
        padding-top: 52.09%;
    }
    &:hover {
        .service-info,
        .service-note {
            opacity: 1;
        }
        .service-note {
            z-index: 2;
        }
    }
}
.service-title {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}
.service-title-white {
    color: $w;
}
.service-info {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    color: $w;
    padding: 24px 15px 15px 30px;
    background: rgba(57, 76, 90, 0.95);
    border-radius: 5px;
    transition: opacity $d $f;
}
.service-note {
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: -50px;
    right: -50px;
    bottom: 100%;
    margin-bottom: 10px;
    color: $w;
    padding: 22px 30px 23px;
    background: #394c5a;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.25);
    border-radius: 5px;
    transition: opacity $d $f;
    &:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 10px;
    }
    &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        width: 0;
        height: 0;
        border: 8px solid $tr;
        border-left-width: 6px;
        border-right-width: 6px;
        border-top-color: #394c5a;
    }
}
.services-more {
    text-align: center;
}
.features {
    padding-bottom: 52px;
}
.features-list {}
.features-item {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    padding: 21px 15px 15px;
    min-height: 192px;
    margin-bottom: 10px;
    background: $w;
    border-radius: 5px;
    box-shadow: 0 1px 10px rgba(0, 1, 1, 0.15);
}
.features-item-img {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
    img {
        display: block;
        margin: 0 auto;
    }
}
.features-item-title {
    flex: 0 0 100%;
    max-width: 100%;
    min-height: 52px;
    font-size: 16px;
    line-height: 1.625;
}
.faq {
    padding: 50px 0 60px;
    h2 {
        font-size: 40px;
        line-height: 1.25;
        font-weight: 200;
        margin-bottom: 29px;
    }
}
.faq-item {
    margin-bottom: 20px;
    background: $w;
    border-radius: 5px;
    box-shadow: 0 1px 7px rgba(0, 1, 1, 0.15);
}
.faq-item-question {
    padding: 19px 70px 19px 30px;
    font-size: 20px;
    line-height: 1.5;
    cursor: pointer;
    position: relative;
    transition: color $d $f;
    &:after {
        content: "";
        position: absolute;
        top: 31px;
        right: 30px;
        width: 0;
        height: 0;
        border: 5px solid $tr;
        border-top-width: 7px;
        border-bottom-width: 7px;
        border-top-color: #aaaaaa;
    }
    &:hover {
        color: $p;
    }
    &.active {
        color: $p;
        &:after {
            transform: translate3d(0, -7px, 0);
            border-top-color: $tr;
            border-bottom-color: $p;
        }
    }
}
.faq-item-answer {
    display: none;
    max-width: 950px;
    padding: 0 30px 8px;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 200;
    p {
        margin-bottom: 20px;
    }
}
.calculate {
    background: #eaf0f5;
    padding: 62px 0 30px;
    h2 {
        margin-left: -3px;
        font-size: 40px;
        line-height: 1.25;
        font-weight: 200;
        margin-bottom: 29px;
    }
}
.calculate-columns {
    display: flex;
    flex-wrap: wrap;
}
.calculate-content {
    flex: 0 0 73.1%;
    max-width: 73.1%;
}
.calculate-progress-bar {
    border-radius: 3px;
    overflow: hidden;
    background: $w;
    height: 6px;
    margin-bottom: 6px;
    span {
        display: block;
        height: 6px;
        background: $p;
    }
}
.calculate-progress-titles {
    display: flex;
    margin-bottom: 33px;
}
.calculate-progress-title {
    flex-grow: 1;
    text-align: center;
    &:first-child {
        text-align: left;
    }
    &:last-child {
        text-align: right;
    }
    &.active {
        color: $p;
    }
}
.calculate-section {
    background: $w;
    margin-bottom: 50px;
    border-radius: 5px;
}
.calculate-section-done {
}
.calculate-done-group {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #eaeaea;
    align-items: center;
    padding: 29px 50px 32px 51px;
    &:first-child {
        border-top: 0;
    }
}
.calculate-done-group-content {
    flex: 0 0 75%;
    max-width: 75%;
}
.calculate-done-item {
    font-size: 20px;
}
.calculate-done-item-title {
    font-weight: 500;
}
.calculate-done-group-navigation {
    flex: 0 0 25%;
    max-width: 25%;
    padding-top: 4px;
    padding-left: 10px;
    text-align: right;
    & + .calculate-done-group-content {
        padding-top: 10px;
        & + .calculate-done-group-navigation {
            padding-top: 14px;
        }
    }
}
.calculate-sidebar {
    flex: 0 0 26.9%;
    max-width: 26.9%;
    padding-left: 30px;
}
.calculate-panel-info {
    padding-left: 30px;
}
.calculate-panel-info-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
}
.calculate-panel-info-list {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 25px;
    li {
        position: relative;
        padding: 0 0 0 19px;
        margin-bottom: 26px;
        &:before {
            content: "";
            position: absolute;
            top: 9px;
            left: 0;
            width: 5px;
            height: 5px;
            background: $p;
        }
    }
}
.calculate-panel-section {
    margin-bottom: 50px;
    padding: 24px 30px 30px;
    background: $w;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 0px rgba(0, 1, 1, 0.15);
}
.calculate-panel-title {
    font-size: 26px;
    margin-left: -2px;
    line-height: 34px;
    margin-bottom: 4px;
}
.calculate-panel-price {
    margin-left: -2px;
    margin-bottom: 18px;
    color: $p;
    font-size: 40px;
    line-height: 1;
    font-weight: 200;
    .rub {
        font-weight: 300;
    }
}
.calculate-panel-agree {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 25px;
}
.calculate-panel-navigation {
    a.button {
        display: block;
        background-color: $s;
        text-align: center;
    }
}
.calculate-row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    padding: 39px 50px 20px;
}
.calculate-row-pushed {
    padding-left: 90px;
    .calculate-label {
        padding-bottom: 22px;
        padding-top: 12px;
        margin-left: -40px;
        position: relative;
    }
}
.pushed-number {
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 68px;
}
.calculate-row-more,
.calculate-row-title {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
.calculate-row-more-title {
    font-size: 26px;
    padding-top: 35px;
    padding-bottom: 19px;
}
.calculate-row-more-data {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: -41px;
    .calc-add-row {
        margin-bottom: 0;
    }
}
.calculate-row-more {
    padding-bottom: 21px;
}
.calculate-row-title {
    font-size: 20px;
    color: #394c5a;
    padding-bottom: 21px;
}
.calculate-cell {
    padding: 0 15px 30px;
    flex: 0 0 100%;
    max-width: 100%;
    &-x3 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    &-x2 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    &-x2-3 {
        flex: 0 0 66.66666%;
        max-width: 66.66666%;
    }
    &-x4-10 {
        flex: 0 0 40%;
        max-width: 40%;
    }
}
.calculate-cell-clear {
    flex: 0 0 100%;
    max-width: 100%;
}
.calculate-input {
    position: relative;
    @extend .clearfix;
}
.calculate-row-navigation {
    padding: 0 50px 20px;
    a.button {
        display: block;
        background-color: $s;
        text-align: center;
    }
}
.calculate-label {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 13px;
}
.calculate-label-no {
    height: 0;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.calculate-label-list {
    font-weight: normal;
    display: inline-block;
    margin-left: 23px;
    li {
        display: inline-block;
        &:before {
            content: ", ";
        }
        &:first-child {
            &:before {
                display: none;
            }
        }
    }
}
.calculate-section-add {
    //padding-top: 39px;
    padding-bottom: 30px;
}
.calc-external {
    font-size: 20px;
    display: inline-block;
    position: relative;
    &:after {
        content: "";
        display: inline-block;
        position: relative;
        top: -5px;
        right: -5px;
        width: 11px;
        height: 9px;
        background: transparent url('../upload/window.svg') left top no-repeat;
        background-size: 11px 9px;
        margin-right: -17px;
    }
}
.calc-add-row {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    position: relative;
    padding-left: 39px;
}
.jFiler-input-icon,
.icon-add-row {
    width: 30px;
    height: 30px;
    border: 2px solid $p;
    position: absolute;
    left: 0;
    top: 1px;
    border-radius: 50%;
    &:after,
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 2px;
        background: $p;
        transform: translate3d(-50%, -50%, 0);
        transition: background-color $d $f;
    }
    &:after {
        height: 10px;
        width: 2px;
    }
}
.jFiler-input-icon {
    left: 0;
    right: 0;
    top: 49px;
    margin: 0 auto;
}
.calculate-row-divider {
    background: #eaeaea;
    height: 1px;
    font-size: 0;
    line-height: 0;
}
#variation-slider {
    margin: 0 97px;
}
.variation-slider-wrapper {
    height: 6px;
    background: #cae3f3;
    border-radius: 3px;
    margin: -12px 50px 27px;
}
.variation-slider-list {
    display: flex;
    justify-content: space-between;
    margin: 0 38px;
}
.variation-slider-dot {
    margin-top: -6px;
    flex: 0 0 18px;
    max-width: 18px;
    box-shadow: 0px 1px 10px 0px rgba(0, 1, 1, 0.15);
    width: 18px;
    height: 18px;
    background: $w;
    border-radius: 50%;
}
.variation-slider-info {
    display: flex;
    justify-content: space-between;
    margin: 0 88px;
    color: $s;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3.1px;
}
.variation-slider-info-col {
    flex: 0 0 44.45%;
    max-width: 44.45%;
    text-align: center;
    margin-bottom: 34px;
    &:first-child {
        color: $p;
        .variation-slider-info-line {
            border-top-color: $p;
            &:before,
            &:after {
                background-color: $p;
            }
        }
    }
}
.variation-slider-info-line {
    border-top: 1px solid $s;
    margin-left: 9px;
    margin-right: 9px;
    position: relative;
    padding-bottom: 10px;
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: -16px;
        left: 0;
        width: 1px;
        height: 16px;
        background: $s;
    }
    &:after {
        left: auto;
        right: 0;
    }
}
.variation-columns {
    margin: 0 50px;
    border-top: 1px solid #eaeaea;
    display: flex;
    flex-wrap: wrap;
    padding-top: 29px;
}
.variation-column {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    font-size: 16px;
    line-height: 1.5625;
    ul {
        li {
            padding-left: 20px;
            padding-right: 15px;
            position: relative;
            margin-bottom: 10px;
            &:before {
                content: "";
                position: absolute;
                top: 7px;
                left: 2px;
                width: 10px;
                height: 10px;
                background: transparent url('../upload/check.svg') 50% 50% no-repeat;
                background-size: 10px 10px;
            }
            &.li-disabled {
                color: #c2c2c2;
                &:before {
                    background-image: url('../upload/no.svg');
                }
            }
        }
    }
}
.variation-header {
    padding: 38px 50px 36px;
    text-align: center;
}
.variation-header-price {
    color: $p;
    font-size: 40px;
    font-weight: 200;
    line-height: 1.2;
    margin-bottom: 4px;
    .rub {
        font-weight: 300;
    }
}
.variation-header-title {
    color: #394c5a;
    font-size: 20px;
    strong {
        font-weight: 500;
    }
}
.variation-column-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 13px;
}
.variation-column-note {
    padding-top: 5px;
    padding-bottom: 43px;
    font-size: 16px;
    font-weight: 500;
}
.calculate-section-title {
    font-size: 26px;
    margin-top: -15px;
    margin-bottom: 18px;
}
.calculate-section-slider {
    padding-bottom: 30px;
}
.calculate-section-pay {
    padding: 35px 50px 19px;
}
.pay-title {
    font-size: 26px;
    margin-bottom: 8px;
}
.pay-subtitle {
    font-size: 20px;
    margin-bottom: 34px;
    span {
        font-weight: 500;
        color: $p;
    }
}
.pay-radio {
    padding-bottom: 26px;
    &.active {
        .pay-radio-info {
            display: block;
        }
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        &:first-child {
            padding-top: 0;
            border-top: 0;
        }
        &:last-child {
            padding-bottom: 10px;
            border-bottom: 0;
            margin-bottom: 0;
        }
    }
}
.pay-radio-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    .button {
        background-color: $s;
        text-align: center;
        display: block;
        .rub {
            line-height: 1;
        }
    }
}
.pay-radio-navigation-cell {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 10px 20px;
}
.pay-radio-navigation-cell-x2 {
    flex: 0 0 50%;
    max-width: 50%;
}
.pay-radio-info {
    display: none;
    padding: 18px 0 0 35px;
    p {
        padding-bottom: 20px;
    }
}
.calculate-error {
    margin-top: -20px;
    padding: 0 50px 32px;
    color: #ff0000;
}
.calculate-error-title {
    font-size: 20px;
    margin-bottom: 5px;
}
.calculate-cell-clear-line {
    height: 1px;
    background: #eaeaea;
    margin-left: -25px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.program {
    margin-bottom: 50px;
}
.program-title {
    h2 {
        font-size: 40px;
        line-height: 1.25;
        font-weight: 200;
        margin-bottom: 29px;
    }
}
.program-table {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    table {
        width: 1162px;
        table-layout: fixed;
        border-collapse: separate;
        th {
            text-align: center;
            padding: 16px 10px;
            font-size: 12px;
            line-height: 1.5;
            color: #aaaaaa;
            border: 0;
            border-right: 1px solid $w;
            background: $t;
            &:first-child {
                width: 290px;
                border-left: 1px solid $t;
                border-radius: 4px 0 0 0;
            }
            &:last-child {
                border-right-color: $t;
                border-radius: 0 4px 0 0;
            }
            strong {
                display: block;
                font-size: 16px;
                line-height: 1.25;
                font-weight: 500;
                color: $text;
                margin-bottom: 2px;
            }
        }
        td {
            text-align: center;
            padding: 12px 5px 13px;
            border: 0;
            border-right: 1px solid #eaeaea;
            border-bottom: 1px solid #eaeaea;
            &:first-child {
                text-align: left;
                padding-left: 18px;
                padding-right: 14px;
                border-left: 1px solid #eaeaea;
            }
            img {
                display: block;
                margin: 0 auto;
            }
        }
        tr {
            &.last-child {
                td {
                    &:first-child {
                        border-radius: 0 0 0 4px;
                    }
                    &:last-child {
                        border-radius: 0 0 4px 0;
                    }
                }
            }
            &.program-table-price {
                td {
                    padding-top: 17px;
                    padding-bottom: 21px;
                    font-size: 20px;
                    line-height: 1.5;
                    font-weight: 500;
                    color: $p;
                    white-space: nowrap;
                    border-right-color: $w;
                    border-bottom-color: $w;
                    &:first-child {
                        border-left-color: $w;
                    }
                    .rub {
                        display: inline-block;
                        vertical-align: top;
                        font-weight: normal;
                    }
                }
            }
        }
        tbody {
            tr {
                &:first-child {
                    td {
                        font-size: 12px;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}
.program-table-hint {
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 5px 0 0 6px;
    &:hover {
        .program-table-hint-text {
            display: block;
        }
    }
}
.program-table-hint-text {
    display: none;
    position: absolute;
    z-index: 100;
    left: 100%;
    margin-left: 10px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: 400px;
    color: $w;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px 15px;
    background: #394c5a;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.25);
    border-radius: 5px;
    &:before {
        content: "";
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        width: 10px;
    }
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        transform: translate3d(0, -50%, 0);
        width: 0;
        height: 0;
        border: 8px solid $tr;
        border-left-width: 6px;
        border-right-width: 6px;
        border-right-color: #394c5a;
    }
}
.program-categories {}
.program-category {
    padding-bottom: 20px;
}
.program-category-caption {
    margin-bottom: 21px;
    h5 {
        font-size: 20px;
        line-height: 1.3;
        font-weight: 500;
        padding: 1px 0 7px;
    }
    p {
        color: #aaaaaa;
    }
}
.program-subcategory {
    margin-bottom: 10px;
    background: $w;
    border-radius: 5px;
    box-shadow: 0 1px 7px rgba(0, 1, 1, 0.15);
}
.program-subcategory-title {
    padding: 19px 40px 19px 18px;
    font-size: 20px;
    line-height: 1.5;
    cursor: pointer;
    position: relative;
    transition: color $d $f;
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -3px;
        right: 20px;
        width: 0;
        height: 0;
        border: 5px solid $tr;
        border-top-width: 7px;
        border-bottom-width: 7px;
        border-top-color: #aaaaaa;
    }
    &:hover {
        color: $p;
    }
    &.active {
        color: $p;
        &:after {
            transform: translate3d(0, -7px, 0);
            border-top-color: $tr;
            border-bottom-color: $p;
        }
    }
}
.program-subcategory-info {
    display: none;
    padding: 0 15px 0 18px;
}
.program-subcategory-item {
    position: relative;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.25;
}
.program-subcategory-hint {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin: 2px 0 0 4px;
    &:hover {
        .program-subcategory-hint-text {
            display: block;
        }
    }
    img {
        display: block;
    }
}
.program-subcategory-hint-text {
    display: none;
    position: absolute;
    z-index: 100;
    right: -15px;
    left: -18px;
    top: 100%;
    margin-top: 7px;
    color: $w;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px 15px 10px 18px;
    background: #394c5a;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.25);
    border-radius: 5px;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -15px;
        height: 15px;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 17px;
        width: 0;
        height: 0;
        border: 8px solid $tr;
        border-left-width: 6px;
        border-right-width: 6px;
        border-bottom-color: #394c5a;
    }
}
.program-subcategory-price {
    padding: 2px 0 22px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    color: $p;
    white-space: nowrap;
    .rub {
        display: inline-block;
        vertical-align: top;
        font-weight: normal;
    }
}
.modal-backdrop {
    background: #f5f8fb;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
}
.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: 1;
}
.modal {
    display: none;
    width: 610px;
    padding-right: 70px;
    position: absolute;
    z-index: 9999;
    &.modal-center {
        position: fixed;
    }
}
body.modal-open {
    overflow: hidden !important;
}
.modal-close {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: $w;
    border-radius: 50%;
    box-shadow: 0 10px 15px rgba(0, 1, 1, 0.25);
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 10px;
        right: 10px;
        height: 2px;
        background: #999999;
        transform: rotate(45deg);
        transition: background-color $d $f;
    }
    &:after {
        transform: rotate(-45deg);
    }
    &:hover {
        &:before,
        &:after {
            background-color: $p;
        }
    }
}
.modal-content {
    padding: 29px 30px 30px;
    background: $w;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 1, 1, 0.15);
}
.modal-title {
    font-size: 40px;
    line-height: 1.25;
    font-weight: 200;
    margin-bottom: 8px;
}
.modal-info {
    font-size: 18px;
    line-height: 1.6667;
    margin-bottom: 21px;
}