/* footer */
.footer-global {
    padding: 18px 0 14px;
    background: $p;
}
.footer-content {
    font-size: 12px;
    line-height: 1.8334;
    color: #c3ebca;
    text-align: center;
    a {
        color: #c3ebca;
        text-decoration: underline;
        &:hover {
            color: $w;
        }
    }
}